<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel</title>
    <link rel="stylesheet" href="styles/contacto.css">
    <link rel="stylesheet" href="styles/cabecera.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="blue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="index.html">INICIO</a>
            <a href="templates/nosotros.html">NOSOTROS</a>
            <a href="templates/servicios.html">SERVICIOS</a>
            <a id="act" href="">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el Email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="e">
            <div class="section1">
                <h2>Contacto</h2>
                <form>
                    <label for="formname">Nombre</label>
                    <input autocomplete="on" name="name" id="formname" placeholder="Ingrese su nombre" type="text">
                    <label for="formemail">Email</label>
                    <input autocomplete="on" name="email" id="formemail" placeholder="Ingrese su email" type="email">
                    <label for="formphone">Telefono</label>
                    <input autocomplete="on" name="phone" id="formphone" placeholder="Ingrese su talefono" type="tel">
                    <label for="formcellPhone">Celular</label>
                    <input autocomplete="on" name="cellPhone" id="formcellPhone" placeholder="Ingrese su celular"
                        type="tel">
                    <label for="formmessage">Mensaje</label>
                    <textarea name="message" id="formmessage" cols="70" rows=10></textarea>
                    <input type="submit" class="boton" value="Enviar">
                </form>
            </div>
            <aside>
                <div class="aside article1">
                    <div>
                        <h3>Que hacemos</h3>
                        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem expedita rerum, maiores iusto dolores quisquam eos recusandae porro officia distinctio officiis est adipisci autem quaerat accusantium. Dicta delectus illum officiis.</P>
                    </div>
                </div>
                <div class="mapa">
                    <img src="/assets/images/mapaGoogle.png" alt="">
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>