<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel</title>
    <link rel="stylesheet" href="../styles/nosotros.css">
    <link rel="stylesheet" href="../styles/cabecera.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="blue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="../index.html">INICIO</a>
            <a id="act" href="">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el Email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="e">
            <div>
                <article>
                    <h2>Nosotros</h2>
                </article>
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sunt vero tempora, veritatis nobis deleniti laboriosam consectetur ea architecto magni sapiente? Saepe velit aliquam consequatur temporibus, amet quibusdam eaque minus!</p>
                </article>
                <article class="article1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, inventore. Deleniti vero
                        laborum repellat incidunt, modi exercitationem voluptatibus iure aperiam quos cum natus
                        consequuntur perspiciatis impedit, recusandae libero placeat explicabo. Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Cumque rerum cupiditate, nam voluptatum sit laboriosam odit
                        ratione ducimus fuga omnis culpa earum reiciendis aperiam saepe, corporis excepturi consectetur
                        aliquam optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure amet voluptas, nobis 
                        illum consequuntur natus. Voluptates nam, enim iste quis perferendis, rerum aliquid facilis qui, 
                        asperiores quaerat consequatur exercitationem cumque.</p>
                </article>
                <article class="article2"></article>
            </div>
            <aside class="article1">
                <h3>Que hacemos</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa molestiae cupiditate. Ipsum sed esse voluptas placeat, sequi, dolores id, corporis et nemo facere soluta voluptates labore quae repudiandae fuga!</P>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>