<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel</title>
    <link rel="stylesheet" href="styles/servicios.css">
    <link rel="stylesheet" href="styles/cabecera.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="blue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="index.html">INICIO</a>
            <a href="templates/nosotros.html">NOSOTROS</a>
            <a id="act" href="">SERVICIOS</a>
            <a href="templates/contacto.html">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el Email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="e">
            <div>
                <article id="article">
                    <h2>Servicios</h2>
                </article>
                <article class="article2">
                    <h2>Diseño Web</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aut optio molestias animi cum dolorem perspiciatis voluptatem nam porro ab tempore numquam minus quas, quod consequatur laborum et harum? Vel?</p>
                    <p>Precio : $300000 - $1000000</p>
                </article>
                <article class="article2">
                    <h2>Desarrollo Web</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis obcaecati amet, vitae culpa ut, repellendus est consequuntur neque inventore totam facere quisquam ad ratione delectus alias, rem earum minus!</p>
                    <p>Precio desde : $1000000</p>
                </article>
                <article class="article2">
                    <h2>Hosting Web</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tenetur cum vitae nulla esse. Enim magnam voluptates iste officia unde odio culpa ipsa aperiam, consequatur iusto beatae fugit. Excepturi, doloremque!</p>
                    <p>Precio : $3000000</p>
                </article>
            </div>
            <aside class="article3">
                <h3>Que hacemos</h3>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum corporis repellat quidem animi nulla quos eum quae fugiat nisi maxime mollitia libero, ad dolores temporibus nemo explicabo autem doloribus a?</P>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>